{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row" style="margin: 10%;">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <div><img src="../static/images/Venkatsaigautam Bathina.jpg"
                height="200" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill"></div>
            <center>
                <h3>Venkatsaigautam Bathina</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Venkatsaigautam Bathina. Currently Pursuing Bachelors in
                    Computer Science and Engineering from Amity University, Mumbai.
                    My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Flutter App Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:gautambathina@gmail.com'><img
                        src="../static/images/gmail.png"  height="40" width="40"></a> :
                gautambathina@gmail.com<br><br>
                <a target="_blank" href='https://github.com/gautam204'><img
                        src="../static/images/github.png" height="40" width="40"></a> :
                gautam204<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/venkatsaigautam-b-40326b17b/'><img
                        src="../static/images/linkedin.png" height="40" width="40"></a> :
                Venkatsaigautam Bathina<br> <br> <br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <div><img src="../static/images/Rohan Sharma.jpg"
                height="200" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill"></div>
            <center>
                <h3>Rohan Sharma</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Rohan Rajendra Sharma. Currently Pursuing Bachelors in
                    Computer Science and Engineering from Amity University, Mumbai.
                    My Main Focus is on Data Science, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Web Development and Flutter App Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:rohansharma4050@gmail.com'><img
                        src="../static/images/gmail.png"  height="40" width="40"></a> :
                rohansharma4050@gmail.com<br><br>
                <a target="_blank" href='https://github.com/rohansharma4050'><img
                        src="../static/images/github.png" height="40" width="40"></a> :
                        rohansharma4050<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/rohan-sharma-877a3119a/'><img
                        src="../static/images/linkedin.png" height="40" width="40"></a> :
                        rohan-sharma<br> <br>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin: 10%;">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <div><img src="../static/images/Shalin Shah.jpg"
                height="200" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill"></div>
            <center>
                <h3>Shalin Shah</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Shalin Manish Shah. Currently Pursuing Bachelors in
                    Computer Science and Engineering from Amity University, Mumbai.
                    My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Flutter App Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:gautambathina@gmail.com'><img
                        src="../static/images/gmail.png"  height="40" width="40"></a> :
                shalinshah9916@gmail.com<br><br>
                <a target="_blank" href='https://github.com/gautam204'><img
                        src="../static/images/github.png" height="40" width="40"></a> :
                shalinshah<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/venkatsaigautam-b-40326b17b/'><img
                        src="../static/images/linkedin.png" height="40" width="40"></a> :
                shalin shah<br> <br> <br> 
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <div><img src="../static/images/Sai Harshavardhan.jpg"
                height="200" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill"></div>
            <center>
                <h3>Sai Harshavardhan A.V.N.</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Sai Harshavardhan. Currently Pursuing Bachelors in
                    Computer Science and Engineering from Amity University, Mumbai.
                    My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Flutter App Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:harshavardhangood@gmail.com'><img
                        src="../static/images/gmail.png"  height="40" width="40"></a> :
                harshavardhangood@gmail.com<br><br>
                <a target="_blank" href='https://github.com/saiharsha-22'><img
                        src="../static/images/github.png" height="40" width="40"></a> :
                        saiharsha-22<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/venkatsaigautam-b-40326b17b/'><img
                        src="../static/images/linkedin.png" height="40" width="40"></a> :
                Sai Harshavardhan AVN<br> <br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}